In [125]:
import pandas as pd
import numpy as np
import math
import time
import os

In [126]:
ratings_path = "ml-latest-small/ratings.csv"
ratings_data = pd.read_csv(ratings_path)

In [127]:
users = ratings_data.groupby('userId')
movies = ratings_data.groupby('movieId')

In [128]:
chosen_ratings = []

for userId,ratings in users:
    if ratings.shape[0] > 100:
        mean= ratings['rating'].mean()
        positive_ratings = ratings[ratings['rating'] > mean]
        choice = np.random.choice(positive_ratings.index, 4,replace=False).tolist()
        chosen_ratings += choice

In [132]:
testing_data = ratings_data.loc[chosen_ratings]

In [133]:
learning_data = ratings_data.loc[~ratings_data.index.isin(chosen_ratings)]

In [134]:
testing_data.head()

     userId  movieId  rating   timestamp
160       4      357     5.0   949919681
190       4     1031     5.0   949896377
287       4     2140     5.0   949896070
290       4     2144     5.0   949811603
598       8      589     4.0  1154464853

In [135]:
learning_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [136]:
learning_data.shape[0] + testing_data.shape[0]

100004

In [25]:
ratings_data.shape

(100004, 4)

In [ ]:
f = open('calculated/ratings_learning.csv','w')
learning_data.to_csv(f)

In [ ]:
t = open('calculated/ratings_testing.csv','w')
testing_data.to_csv(t)